*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffff;
    width: 100%;
}

.font{
    font-family: 'playball';
    letter-spacing: 0.2em;
}

/*======================NAVBAR===============================*/

header{
    background-image: url('../med/photo-1486870591958-9b9d0d1dda99\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/*nav{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 12%;
    z-index: 1;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 5%;
    list-style-type: none;
}

.nav-menu a:not(.brand){
    text-decoration: none;
    color: #fff;
}

.brand{
    text-decoration: none;
    color: rgb(255, 208, 0);
    font-family: 'playball';
    letter-spacing: 0.3em;
    font-size: 22px;
}

.nav-menu a:hover{
    color: rgb(255, 0, 85);
}

nav a.hamburger{
    display: none;
}

.dropdown-menu{
    display: none;
}

.links-hidden{
    display: none;
}
   nav li:not(:first-child) {
        display: none;
    }
    
    nav a.hamburger {   
        display: block;
        font-size: 28px;
    }
    
    .dropdown-menu{
        display: none;
    }
    nav.openNav a.hamburger {
        position: relative;
    }
    nav.openNav a {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
    }  
    .links-hidden{
         padding: 6px;
    }

    nav a.hamburger:hover{
        cursor: pointer;
        color: rgb(255, 208, 0);
    }
*/

.container{
  width: 100%;
  height: 100vh;
  position: relative;
}

.navbar{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.logo img{
  width: 35%;
  cursor: pointer;
  margin: 40px 0;
}

nav ul li{
  list-style: none;
  margin: 35px 0;
  /*display: inline-block;
  margin-right: 30px;*/
}

nav ul li a{
  text-decoration: none;
  font-size: 40px;
  color: #fff;
  padding: 10px;
  letter-spacing: 5px;
  position: relative;
}

nav ul li a::after{
  content: '';
  height: 3px;
  width: 0;
  z-index: -1;
  background: #eea16d;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}

nav ul li a:hover::after{
  width: 100%;
}

nav{
  position: absolute;
  width: 100%;
  height: 100vh;
  background:rgba(0, 0, 0, 0.959);
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  transition: 0.5s ease-out;
}

.close-icon{
  width: 25px;
  position: absolute;
  right: 60px;
  top: 45px;
  cursor: pointer;
}

.menu-icon{
  width: 30px;
  position: absolute;
  right: 60px;
  top: 45px;
  cursor: pointer;
}

/*=======================LANDING==========================*/

.content{
    letter-spacing: 1em;
    font-family: 'playball';
    text-align: center;
    width: 80%;
    padding-top: 12%;
    margin: 0 auto;
}

.content h1{
    font-size: 100px;
    color: #fff;
    text-shadow: 0 1px 0 rgb(58, 58, 58), 0 1px 0 rgb(58, 58, 58), 
        0 4px 0 rgb(58, 58, 58), 0 2px 0 rgb(58, 58, 58), 
        0 4px 0 rgb(58, 58, 58), 0 4px 0 rgb(58, 58, 58), 
        0 4px 0 rgb(58, 58, 58), 0 4px 0 rgb(58, 58, 58), 
        0 4px 0 rgb(58, 58, 58), 0 2px 0 rgb(58, 58, 58), 
        0 4px 0 rgb(58, 58, 58), 0 2px 0 rgb(58, 58, 58), 
        10px 20px 20px rgba(161, 161, 161, 0.233); 
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn{
    text-decoration: none;
    color: inherit;
    margin: 5% auto;
    padding: 18px 35px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.918);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.918);
    letter-spacing: 0.3rem;
}

.buttons button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.836);
    color: #000000;
    transition: 0.4s;
}
/*========================BLOGS==========================*/
.blog{
    margin: 5% auto;
}

.blog h2{
    font-family: 'playball';
    font-size: 35px;
    letter-spacing: 0.2em;
    margin: 0 1%;
    text-align: center;
}

.blog hr{
    margin: 1% auto 3%;
    width: 40%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 33%;
    max-width: 33%;
}

#more{
    display: none;
}

#btn {
    margin: 2% 42.5%;
    padding: 15px 33px;
    font-size: medium;
    letter-spacing: 0.15em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Hover Image effect*/
.col-img{
    position: relative;
    width: 400px;
}

.img{
    display: block;
    width: 100%;
}

.overlay-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.overlay-img:hover{
    opacity: 1;
    transition: all 0.4s ease-in-out 0s;
}

.overlay-title{
    padding: 6% 5% 1%;
    text-align: left;
    font-size: 1.7em;
    font-style: italic;
    letter-spacing: 0.1em;
}

.overlay-text{
    padding: 0 5%;
    text-align: left;
    font-size: 1.25em;
}

.date{
    font-size: 0.65em;
}
/*==============================Sign Up FORM========================*/

.say-bye{
    display: flex;
    flex-direction: row;
    margin: 8% 0 -6%;
    height: 80vh;
    border-top: 1px solid rgb(255, 208, 0);
}

.form{
    width: 50%;
    justify-content: flex-start;
}

.form-container{
    padding: 5% 18%;
    width: 80%;
}
.form-container h2{
    margin: 0 0 40px;
}

.form-container input{
    padding: 10px 0;
    margin-bottom: 30px;
}

.form-container textarea{
    height: 80px;
    padding: 10px 0;
    margin-bottom: 40px;
}

.form-container input, textarea{
    width: 70%;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #999;
}

.form-container textarea{
    margin-bottom: 20px;
}

.form-container input[type="submit"]{
    border-bottom: none;
    cursor: pointer;
    background-color: rgb(255, 208, 0);
    color: #000;
    width: 25%;
}

.form-container form div{
    position: relative;
}

.form-container form div label{
    position: absolute;
    bottom: 40px;
    font-size: 14px;
    pointer-events: none;
    left: 0;
    color: #999;
    transition: .5s;
}

.form-container input:focus ~label,
.form-container textarea:focus ~label,
.form-container input:valid ~label,
.form-container textarea:valid ~label{
    top: -12px;
    font-size: 12px;
    color: rgb(255, 208, 0);
    left: 0;
}

.form-container input:focus,
.form-container textarea:focus,
.form-container input:valid,
.form-container textarea:valid{
    border-bottom: 2px solid rgb(255, 208, 0);
}

.form-container textarea{
    height: 80px;
    padding: 10px 0;
    margin-bottom: 40px;
}

.form-container input, textarea{
    width: 70%;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #999;
}

.form-container textarea{
    margin-bottom: 20px;
}

.form-container input[type="submit"]{
    border-bottom: none;
    cursor: pointer;
    background-color: rgb(255, 208, 0);
    color: #000;
    width: 25%;
}

.form-container form div{
    position: relative;
}

.form-container form div label{
    position: absolute;
    bottom: 40px;
    font-size: 14px;
    pointer-events: none;
    left: 0;
    color: #999;
    transition: .5s;
}

.form-container input:focus ~label,
.form-container textarea:focus ~label,
.form-container input:valid ~label,
.form-container textarea:valid ~label{
    top: -12px;
    font-size: 12px;
    color: rgb(255, 208, 0);
    left: 0;
}

.form-container input:focus,
.form-container textarea:focus,
.form-container input:valid,
.form-container textarea:valid{
    border-bottom: 2px solid rgb(255, 208, 0);
}
.pizza{
    text-align: center;
    width: 50%;
    color: #000;
    background-color: rgb(255, 208, 0);
}

.pizza img{
    width: 99%;
    height: 60%;
}

.pizza h3{
    padding: 50px 20px;
}

/*========================FOOTER=========================*/

footer{
    margin-top: 6%;
    width: 100%;
    height: 30vh;
    background-color: #000;
    color: rgb(255, 208, 0);
    text-align: center;
}

.footer-content{
    padding: 35px 0;
}

footer ul{
    display: flex;
    width: 30%;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px 0;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
}

footer ul a{
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 600px) {
    
    .column{
        max-width: 100%;
        flex: 100%;
        
    }

    #btn {
        margin: 3% 30%;
    }

    .buttons {
        flex-direction: column;
    }
}